<div class="financial-product-container">
  <div class="table-header">
    <div class="table-search-bar-container">
      <app-search-bar (searchChange)="handleSearchChange($event)">
      </app-search-bar>
    </div>
    <div class="table-create-button-container">
      <button class="button primary-button" (click)="navToCreate()">Agregar</button>
    </div>
  </div>


  <app-products-table [financialProducts]="financialProducts$|async" [amountOfRecordsToShow]="amountOfRecordsToShow">
  </app-products-table>

  <app-table-footer [amount]="totalRecords" (amountChange)="handleAmountChange($event)">
  </app-table-footer>
</div>

