<div class="form-card">

  <h2>Formulario de {{ isEditing() ? 'Actualización' : 'Registro' }}</h2>
  <hr>
  <div class="form-card-container">
    <form action="" [formGroup]="createEditForm" id="form-product">

      <div class="input-container">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-input" id="id" formControlName="id"
               [ngClass]="errorMessagesByField.id.length > 0 ? 'form-input-error':'form-input'">
        @if (errorMessagesByField.id.length > 0) {
          @for (message of errorMessagesByField.id; track $index) {
            <span style="color: red; font-size: 12px">
                {{ message }}
            </span>
          }
        }
      </div>
      <div class="input-container">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-input" id="name" formControlName="name"
               [ngClass]="errorMessagesByField.name.length > 0 ? 'form-input-error':'form-input'">
        @if (errorMessagesByField.name.length > 0) {
          @for (message of errorMessagesByField.name; track $index) {
            <span style="color: red; font-size: 12px">
                {{ message }}
            </span>
          }
        }
      </div>
      <div class="input-container">
        <label for="description" class="form-label">Descripción</label>

        <input type="text" class="form-input" id="description" formControlName="description"
               [ngClass]="errorMessagesByField.description.length > 0 ? 'form-input-error':'form-input'">

        @if (errorMessagesByField.description) {
          @for (message of errorMessagesByField.description; track $index) {
            <span style="color: red; font-size: 12px">
                {{ message }}
            </span>
          }
        }

      </div>
      <div class="input-container">
        <label for="logo" class="form-label">Logo</label>
        <input type="text" class="form-input" id="logo" formControlName="logo"
               [ngClass]="errorMessagesByField.logo.length > 0 ? 'form-input-error':'form-input'">

        @if (errorMessagesByField.logo.length > 0) {
          @for (message of errorMessagesByField.logo; track $index) {

            <span style="color: red; font-size: 12px">
                {{ message }}
            </span>
          }
        }
      </div>
      <div class="input-container">
        <label for="date_release" class="form-label">Fecha Liberación</label>
        <input type="date" class="form-input" id="date_release" formControlName="date_release"
               [ngClass]="errorMessagesByField.date_release.length > 0 ? 'form-input-error':'form-input'">

        @if (errorMessagesByField.date_release.length > 0) {
          @for (message of errorMessagesByField.date_release; track $index) {
            <span style="color: red; font-size: 12px">
                {{ message }}
            </span>
          }
        }
      </div>
      <div class="input-container">
        <label for="date_revision" class="form-label">Fecha Revisión</label>
        <input type="date" class="form-input" id="date_revision" formControlName="date_revision">
      </div>


    </form>
  </div>

  <div class="actions-container">

    <button class="button secondary-button" type="button" id="btn-reset" (click)="cancel()">
      Cancelar
    </button>
    <button class="button primary-button" type="submit" id="btn-submit" [disabled]="createEditForm.invalid"
            (click)="onSubmit()">
      Enviar
    </button>

  </div>

</div>

