<table>
  <tr>
    <th>Logo</th>
    <th>Nombre del producto</th>
    <th>Descripción</th>
    <th>Fecha de liberación</th>
    <th>Fecha de reestructuración</th>
    <th></th>
  </tr>

  @for (product of financialProducts(); track product.id) {
    @if ($index < amountOfRecordsToShow()) {
      <tr>
        <td>
          <img [src]="product.logo" [appFallbackImage]="fallbackImage" alt="product-icon" width="30px">
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release|slice:0:10 }}</td>
        <td>{{ product.date_revision|slice:0:10 }}</td>
        <td>
          <app-dropdown appShowDropdownContent [items]="itemsDropdown" [data]="product"></app-dropdown>
        </td>
      </tr>
    }
  } @empty {
    <tr>
      <td colspan="5">No se encontraron productos financieros</td>
    </tr>
  }

</table>
